aniso8601==9.0.1
autopep8==1.5.7
backports.entry-points-selectable==1.1.0
click==8.0.1
distlib==0.3.3
filelock==3.0.12
Flask==2.0.1
Flask-JWT==0.3.2
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
platformdirs==2.4.0
pycodestyle==2.7.0
PyJWT==1.4.2
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.25
toml==0.10.2
virtualenv==20.8.1
Werkzeug==2.0.1
uWSGI